{% extends 'base.html' %}
{% block content %}

<div>
    <h1>{{ poem.name }}</h1>
        <h3>BY: {{ poem.poet}}</h3> 
        <br>
        <p>
            <pre>{{ poem.poemcontent }}</pre>
        </p>
        <br>
        <p>{{ poem.date }}</p>
        <p>Source: {{ poem.source }}</p>
    <a class='poemalter' href="{% url 'poems_update' poem.id %}">Edit</a> | 
    <a class='poemalter' href="{% url 'poems_delete' poem.id %}">Delete</a>
</div>
<br>
<div>
    <h3>Poetry Collections:</h3>
    {% for collection in poem.collection.all %}
        <li><a class='poeminfo' href="{% url 'collections_detail' collection.id %}">{{collection.name}}</a></li>
    {% empty %}
        <div>This poem curently doesn't belong to any collections.</div>
    {% endfor %}
    <br>
</div>
<div>
    <h3>Comments:</h3>
    {% for comment in poem.comment_set.all %}
        <div>
            <p>{{comment.user}}: {{comment.content}}</p>
            <hr>
        {% if user == comment.user %}
        <div>
            <a class='poeminfo' href="{% url 'comment_update' comment.id %}">Edit</a>
            <a class='poeminfo' href="{% url 'comment_delete' comment.id %}">Delete</a>
        </div>
        {% endif %}
        </div>
    {% endfor %}
    <form action="{% url 'add_comment' poem.id %}" method="POST">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <input type="submit" class="btn" value="SUBMIT">
     </form>
</div>
{% endblock %}