{% extends "base.html" %}

{% block content %}
    <h1>Learn more about Polish Poetry</h1>
    
    <p class='learntext'><img class='learning' src='https://i.imgur.com/lQEJhfJ.jpg'>The niche works of Polish poets have shaped the general psyche and identity of Poles globally. Their heritage is embedded in the fluidity of style and search for a voice. The beauty and craftmanship of these authors is contagious. <br><br>I hope you enjoy discovering the light and shadow of these Poets, as I have. A big 'Thank-You' to the Slavic Language and Literature Department at the University of Michigan for introducing me to these unexpected treasures.</p>
    
    <h3>Additional Resources</h3>
    <pre>Here are some additional links to external sites that give you access to more Polish poetry. 
They grant you access to more Polish poetry where you can expand your knowledge.</pre>
        <pre>Some of these resources are in Polish but can be easily translated with the Google API. 
The breath of these links vary, some are more thourough and vetted than other.</pre>
    <p><a href="http://polska-poezja.pl/">Polska-Poezja.Pl</a></p>
    <p><a href="https://culture.pl/en/tag/polish-poetry">Culture.Pl</a></p>
    <p><a href="https://en.wikipedia.org/wiki/Polish_poetry">Wikipedia of Polish Poets</a></p>
    <p><a href="https://literatura.wywrota.pl/poezja_klasyka.html">Wywrota.Pl</a></p>
    <p><a href="https://www.nytimes.com/2002/03/16/books/falls-of-towers-and-the-rise-of-polish-poetry.html">Falls of Towers And the Rise Of Polish Poetry | The New York Times</a></p>
    <p><a href="https://www.newyorker.com/magazine/2017/05/29/czeslaw-miloszs-battle-for-truth">Czeslaw Milosz's Battle for Truth | The New Yorker</a></p>
{% endblock content %}