{% extends 'base.html' %}
{% block content %}
<div class='collection'>
<h1>{{ collection.name }} Collection</h1>

<div>
    <p>{{ collection.description }}</p>
    <div>
        {% for poem in collection.poem_set.all %}
        <p><a class='collectionworks' href="{% url 'poems_detail' poem.id %}">{{poem.name}}</a></p>
        {% empty %}
        <a href="/poems">Add to this Poetry Collection.</a>
        {% endfor %}
    </div>
    </div>
        <a class='poemalter' href="{% url 'collections_update' collection.id %}">Edit</a>
        <a class='poemalter' href="{% url 'collections_delete' collection.id %}">Delete</a>
    </div>
{% endblock %}