{% extends 'base.html' %}
{% block content %}
<section class='poetbio'>
<div class='bio' id='img-bio'>
    <img src="https://media.newyorker.com/photos/59096be06552fa0be682fba7/master/w_727,c_limit/Szymborska.jpg">
</div>
<div class='bio' id='bio'>
    <div class='biocard'>
        <h1>{{ poet.name }}</h1>
        <h3>{{ poet.born }} - {{ poet.died }}</h3> 
        <p>{{ poet.biography }}</p>
        <p>{{ poet.period }} Poetry</p>
        <a href="{% url 'poets_update' poet.id %}">Edit</a>
        <a href="{% url 'poets_delete' poet.id %}">Delete</a>
    </div>
</div>
</section>
<div class='collectionofworks'>
    <h2>Collection of Works</h2>
    {% for poem in poet.poem_set.all %}
        <a class='poetworks' href="{% url 'poems_detail' poem.id %}">{{poem.name}}</a>
    {% empty %}
        <a href="/poems/create">Add to their Poetry works.</a>
    {% endfor %}
</div>
{% endblock %}