{% extends 'base.html' %}
{% block content %}
<div class='bio'>
<h1>{{ poet.name }}</h1>

<div class='biocard'>
    <h3>{{ poet.born }} - {{ poet.died }}</h3> 
    <p>{{ poet.biography }}</p>
    <p>{{ poet.period }} Poetry</p>
</div>
    <a href="{% url 'poets_update' poet.id %}">Edit</a>
    <a href="{% url 'poets_delete' poet.id %}">Delete</a>
</div>
<div>
    {% for poem in poet.poem_set.all %}
        <a class='poetworks' href="{% url 'poems_detail' poem.id %}">{{poem.name}}</a>
    {% empty %}
        <a href="/poems/create">Add to their Poetry works.</a>
    {% endfor %}
</div>
{% endblock %}